body {
  width: 900px;
  margin: auto;
}

nav a {
  margin-right: 10px;
  padding: 5px 10px;
  background: #ccc;
  font-weight: bold;
  border-radius: 5px;
  text-decoration: none;
  color: #222;
}
nav a.router-link-active {
  background: #cca;
  color: #eee;
}


